body {
    background-color: black;
}
.cuerpo{
    height: 500px;
}
.titulo {
    height: 70px;
}
.titulo h1 {
    text-align: center;
}
.subtitulo {
    height: 150px;
}
.subtitulo h5 {
    text-align: center;
}
.caja_boton {
    height: 200px;
}
.imagen {
    height: 200px;
}
.titulo_curso{
    height: 50px;
}
.cursito{
    height: 270px;
    margin-top: 5px;
}
.cuerpo_cursos{
    height: 570px;
}
